{
  "branches": [
    "main",
    {
      "name": "create-release-workflow",
      "preleast": true
    }
  ],
  "repositoryUrl": "git@github.com:rayprogramming/videoStreamer-users.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github"
  ],
  "ci": true
}
